docs/04_submissions/plichta/04/LindaMarek_homework4_connections/.vscode/settings.json
docs/04_submissions/plichta/04/LindaMarek_homework4_connections/.idea/vcs.xml
docs/04_submissions/plichta/04/LindaMarek_homework4_connections/.idea/modules.xml
docs/04_submissions/plichta/04/LindaMarek_homework4_connections/.idea/LindaMarek_homework4_connections.iml
*.DS_Store
docs/03_slides/remark/remark-latest.min_COPY.js
.idea/workspace.xml
docs/04_submissions/plichta/04/.DS_Store
docs/04_submissions/plichta/04/LindaMarek_homework4_connections/sketch.js
